.not-visible {
    display: none;
}

/* Custom drop zone */
.dz {
    border: dashed !important;
    border-color: #CCC !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}